ArchiRev/src/main/resources/metamodels/KDM.sourceXMI.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<xsd:schema xmlns:core="http://www.omg.org/spec/KDM/20160201/core" xmlns:kdm="http://www.omg.org/spec/KDM/20160201/kdm" xmlns:source="http://www.omg.org/spec/KDM/20160201/source" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.omg.org/spec/KDM/20160201/source">
  <xsd:import namespace="http://www.omg.org/spec/KDM/20160201/kdm" schemaLocation="KDM.kdmXMI.xsd"/>
  <xsd:import namespace="http://www.omg.org/spec/KDM/20160201/core" schemaLocation="KDM.coreXMI.xsd"/>
  <xsd:complexType name="SourceRef">
    <xsd:complexContent>
      <xsd:extension base="core:AnnotatableElement">
        <xsd:choice maxOccurs="unbounded" minOccurs="0">
          <xsd:element name="region" type="source:Region"/>
        </xsd:choice>
        <xsd:attribute name="language" type="xsd:string"/>
        <xsd:attribute name="snippet" type="xsd:string"/>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:element name="SourceRef" type="source:SourceRef"/>
  <xsd:complexType abstract="true" name="Region">
    <xsd:complexContent>
      <xsd:extension base="core:AnnotatableElement">
        <xsd:choice maxOccurs="unbounded" minOccurs="0">
          <xsd:element name="file" type="source:InventoryItem"/>
        </xsd:choice>
        <xsd:attribute name="file" type="xsd:string"/>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:element name="Region" type="source:Region"/>
  <xsd:complexType name="SourceRegion">
    <xsd:complexContent>
      <xsd:extension base="source:Region">
        <xsd:attribute name="startLine" type="xsd:string"/>
        <xsd:attribute name="startPosition" type="xsd:string"/>
        <xsd:attribute name="endLine" type="xsd:string"/>
        <xsd:attribute name="endPosition" type="xsd:string"/>
        <xsd:attribute name="language" type="xsd:string"/>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:element name="SourceRegion" type="source:SourceRegion"/>
  <xsd:complexType name="InventoryModel">
    <xsd:complexContent>
      <xsd:extension base="kdm:KDMModel">
        <xsd:choice maxOccurs="unbounded" minOccurs="0">
          <xsd:element name="inventoryElement" type="source:AbstractInventoryElement"/>
        </xsd:choice>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:element name="InventoryModel" type="source:InventoryModel"/>
  <xsd:complexType abstract="true" name="AbstractInventoryElement">
    <xsd:complexContent>
      <xsd:extension base="core:KDMEntity">
        <xsd:choice maxOccurs="unbounded" minOccurs="0">
          <xsd:element name="inventoryRelation" type="source:AbstractInventoryRelationship"/>
        </xsd:choice>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:element name="AbstractInventoryElement" type="source:AbstractInventoryElement"/>
  <xsd:complexType name="InventoryItem">
    <xsd:complexContent>
      <xsd:extension base="source:AbstractInventoryElement">
        <xsd:attribute name="version" type="xsd:string"/>
        <xsd:attribute name="path" type="xsd:string"/>
        <xsd:attribute name="format" type="xsd:string"/>
        <xsd:attribute name="md5" type="xsd:string"/>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:element name="InventoryItem" type="source:InventoryItem"/>
  <xsd:complexType name="SourceFile">
    <xsd:complexContent>
      <xsd:extension base="source:InventoryItem">
        <xsd:attribute name="language" type="xsd:string"/>
        <xsd:attribute name="encoding" type="xsd:string"/>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:element name="SourceFile" type="source:SourceFile"/>
  <xsd:complexType name="ImageFile">
    <xsd:complexContent>
      <xsd:extension base="source:InventoryItem"/>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:element name="ImageFile" type="source:ImageFile"/>
  <xsd:complexType name="ConfigFile">
    <xsd:complexContent>
      <xsd:extension base="source:InventoryItem"/>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:element name="ConfigFile" type="source:ConfigFile"/>
  <xsd:complexType name="InventoryContainer">
    <xsd:complexContent>
      <xsd:extension base="source:AbstractInventoryElement">
        <xsd:choice maxOccurs="unbounded" minOccurs="0">
          <xsd:element name="inventoryElement" type="source:AbstractInventoryElement"/>
        </xsd:choice>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:element name="InventoryContainer" type="source:InventoryContainer"/>
  <xsd:complexType name="Directory">
    <xsd:complexContent>
      <xsd:extension base="source:InventoryContainer">
        <xsd:attribute name="path" type="xsd:string"/>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:element name="Directory" type="source:Directory"/>
  <xsd:complexType name="Project">
    <xsd:complexContent>
      <xsd:extension base="source:InventoryContainer"/>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:element name="Project" type="source:Project"/>
  <xsd:complexType abstract="true" name="AbstractInventoryRelationship">
    <xsd:complexContent>
      <xsd:extension base="core:KDMRelationship"/>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:element name="AbstractInventoryRelationship" type="source:AbstractInventoryRelationship"/>
  <xsd:complexType name="LinkableFile">
    <xsd:complexContent>
      <xsd:extension base="source:InventoryItem"/>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:element name="LinkableFile" type="source:LinkableFile"/>
  <xsd:complexType name="ObjectFile">
    <xsd:complexContent>
      <xsd:extension base="source:LinkableFile"/>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:element name="ObjectFile" type="source:ObjectFile"/>
  <xsd:complexType name="ExecutableFile">
    <xsd:complexContent>
      <xsd:extension base="source:InventoryItem"/>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:element name="ExecutableFile" type="source:ExecutableFile"/>
  <xsd:complexType name="DependsOn">
    <xsd:complexContent>
      <xsd:extension base="source:AbstractInventoryRelationship">
        <xsd:choice maxOccurs="unbounded" minOccurs="0">
          <xsd:element name="to" type="source:AbstractInventoryElement"/>
          <xsd:element name="from" type="source:AbstractInventoryElement"/>
        </xsd:choice>
        <xsd:attribute name="to" type="xsd:string"/>
        <xsd:attribute name="from" type="xsd:string"/>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:element name="DependsOn" type="source:DependsOn"/>
  <xsd:complexType name="InventoryElement">
    <xsd:complexContent>
      <xsd:extension base="source:AbstractInventoryElement"/>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:element name="InventoryElement" type="source:InventoryElement"/>
  <xsd:complexType name="InventoryRelationship">
    <xsd:complexContent>
      <xsd:extension base="source:AbstractInventoryRelationship">
        <xsd:choice maxOccurs="unbounded" minOccurs="0">
          <xsd:element name="to" type="core:KDMEntity"/>
          <xsd:element name="from" type="source:AbstractInventoryElement"/>
        </xsd:choice>
        <xsd:attribute name="to" type="xsd:string"/>
        <xsd:attribute name="from" type="xsd:string"/>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:element name="InventoryRelationship" type="source:InventoryRelationship"/>
  <xsd:complexType name="LibraryFile">
    <xsd:complexContent>
      <xsd:extension base="source:LinkableFile"/>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:element name="LibraryFile" type="source:LibraryFile"/>
  <xsd:complexType name="AudioFile">
    <xsd:complexContent>
      <xsd:extension base="source:InventoryItem"/>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:element name="AudioFile" type="source:AudioFile"/>
  <xsd:complexType name="DataFile">
    <xsd:complexContent>
      <xsd:extension base="source:InventoryItem"/>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:element name="DataFile" type="source:DataFile"/>
  <xsd:complexType name="Service">
    <xsd:complexContent>
      <xsd:extension base="source:InventoryItem"/>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:element name="Service" type="source:Service"/>
  <xsd:complexType name="Document">
    <xsd:complexContent>
      <xsd:extension base="source:InventoryItem"/>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:element name="Document" type="source:Document"/>
  <xsd:complexType name="Track">
    <xsd:complexContent>
      <xsd:extension base="source:AbstractInventoryElement">
        <xsd:choice maxOccurs="unbounded" minOccurs="0">
          <xsd:element name="owner" type="core:KDMEntity"/>
        </xsd:choice>
        <xsd:attribute name="description" type="xsd:string"/>
        <xsd:attribute name="owner" type="xsd:string"/>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:element name="Track" type="source:Track"/>
  <xsd:complexType name="BinaryRegion">
    <xsd:complexContent>
      <xsd:extension base="source:Region">
        <xsd:attribute name="startAddr" type="xsd:string"/>
        <xsd:attribute name="endAddr" type="xsd:string"/>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:element name="BinaryRegion" type="source:BinaryRegion"/>
  <xsd:complexType name="ReferenceableRegion">
    <xsd:complexContent>
      <xsd:extension base="source:Region">
        <xsd:attribute name="ref" type="xsd:string"/>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:element name="ReferenceableRegion" type="source:ReferenceableRegion"/>
  <xsd:complexType name="TraceableTo">
    <xsd:complexContent>
      <xsd:extension base="source:AbstractInventoryRelationship">
        <xsd:choice maxOccurs="unbounded" minOccurs="0">
          <xsd:element name="to" type="core:KDMEntity"/>
          <xsd:element name="from" type="source:Track"/>
        </xsd:choice>
        <xsd:attribute name="to" type="xsd:string"/>
        <xsd:attribute name="from" type="xsd:string"/>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:element name="TraceableTo" type="source:TraceableTo"/>
  <xsd:complexType name="Model">
    <xsd:complexContent>
      <xsd:extension base="source:InventoryItem"/>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:element name="Model" type="source:Model"/>
</xsd:schema>
